// Body
$body-bg: #f8fafc;
// Typography
$font-family-sans-serif: 'Noto Kufi Arabic',
sans-serif;
$headings-font-family:'Noto Kufi Arabic',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$primary: #532cff;
$btn-border-radius: 0;
$card-border-width: 0;
$card-border-radius: 0;
$warning: #f28406;
$link-color: rgb(7, 1, 20);
$input-border-radius: 0;